<ion-header >
  <ion-toolbar >
    <ion-title class="subtitulo">
      LDS Equipos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle" class="iconmenu"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="start">
      <ion-button (click)="menuPrin()">
        <ion-icon slot="icon-only" name="menu" class="iconmenu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>
    Categoria libre
  </ion-title>
      <ion-card>
        Serie A
        <p>hasodhasdhnkjlashdkjashnjkdsad</p>
        <p>hasodhasdhnkjlashdkjashnjkdsad</p>
        <p>hasodhasdhnkjlashdkjashnjkdsad</p>
    
      </ion-card>
      <ion-card>
        Serie b
      </ion-card>
      <ion-card>
        Serie c
      </ion-card>
  <ion-title>
    Categoria Damas
  </ion-title>
      <ion-card>
          equipos
      </ion-card>
  <ion-title>
    Categoria Master
  </ion-title>
      <ion-card>
          equipos
      </ion-card>
</ion-content>

<ion-footer>
  
</ion-footer>