<ion-header >
  <ion-toolbar >
    <ion-title class="">
      Plublicacion de Noticias
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle" class="iconmenu"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="start">
      <ion-button (click)="menuPrin()">
        <ion-icon slot="icon-only" name="menu" class="iconmenu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div style="margin: 10px;" >
    <ion-item>
      <ion-buttons slot= "end">
        <ion-label>Nuevo</ion-label>
        <ion-button  class="normal">
          <ion-icon name="reader"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </div>

  <div>
    <h3 class="subtitulo headers"> Ingrese datos para noticia</h3>
    
    <ion-card>

      <ion-item>
        <ion-label class="normal">
          Foto
        </ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <label for="file-upload">
              <ion-icon slot="icon-only" name="images"></ion-icon>
            </label>
            <input id="file-upload" style="display:none" type="file" accept="image/*"> 
          </ion-button>
        </ion-buttons>
      </ion-item>
  
  
      <!-- position="floating"       pegar depues de class normal -->
      <ion-item>
        <ion-label class="normal" position="floating">
          Titulo
        </ion-label>
       <ion-input class="normal" type="text" inputmode="text"></ion-input> 
      </ion-item>
  
  
      <ion-item>
        <ion-label class="normal" position="floating">   
          Descripcion
        </ion-label>
        <ion-textarea class="normal" inputmode="text"></ion-textarea>
      </ion-item>
    </ion-card>
  
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4">
          <ion-button color="primary">
            Registrar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>
