.iconmenu{
    font-size: 30px ;
}


.headers{
    background: rgb(114, 24, 24) !important;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
}


.imgDirigentes{
    padding: 10px;
    width: 100%;
    margin: auto;
}

