

  <ion-header >
    <ion-toolbar >
      <ion-title class="subtitulo">
        Registro de Dirigentes
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openMenu()">
          <ion-icon slot="icon-only" name="ellipsis-horizontal-circle" class="iconmenu"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      <ion-buttons slot="start">
        <ion-button (click)="menuPrin()">
          <ion-icon slot="icon-only" name="menu" class="iconmenu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content >

  <div style="margin: 10px;" >
    <ion-item>
      <ion-buttons slot= "end">
        <ion-label>Nuevo</ion-label>
        <ion-button (click)= "nuevodir()" class="normal">
          <ion-icon name="person-add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </div>


  <div *ngIf= "enableNewDirigente" >

    <h3 class="subtitulo headers" > Ingrese los datos del Dirigente</h3>
    <ion-buttons slot="end">
      <ion-button (click)= "enableNewDirigente = false" >
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-card>
    
  
    <ion-item>
      <ion-label class="normal" position="floating">
        Nombre
      </ion-label>
      <ion-input [(ngModel)]= "newDirigente.nombre" class="normal" type="text" inputmode="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label class="normal">
        Foto:
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <label for="file-upload">
            <ion-icon slot="icon-only" name="images"></ion-icon>
          </label>
          <input (change)= "newImageUpload($event)" id="file-upload" style="display:none" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>

      
   
    <ion-item>
      <img class="imgDirigentes" [src]= "newDirigente.foto">
    </ion-item>

    <ion-item>
      <ion-label class="normal" position="floating">
        Equipo 
      </ion-label>
      <ion-input [(ngModel)]= "newDirigente.equipos" class="normal" type="text" inputmode="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="normal" position="floating">
        Categoria 
      </ion-label>
      <ion-input [(ngModel)]= "newDirigente.categoria" class="normal" type="text" inputmode="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label class="normal" position="floating">
        Numero de Celular 1
      </ion-label>
      <ion-input [(ngModel)]= "newDirigente.telf1" class="normal" type="number" inputmode="number"></ion-input>
    </ion-item>
  
    
    <ion-item>
      <ion-label class="normal" position="floating">
        Numero de Celular 2
      </ion-label>
      <ion-input [(ngModel)]= "newDirigente.telf2"  class="normal" type="number" inputmode="number"></ion-input>
    </ion-item>
  </ion-card>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-button color="light" (click)= "guardardirigente()">
          Registrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>

 
 


 <ion-item *ngFor= "let dirigente of dirigentes">
   <ion-label> {{ dirigente.nombre }} </ion-label>
     <ion-buttons>
      <ion-button (click)= " newDirigente = dirigente; enableNewDirigente = true; " >
       <ion-icon slot="icon-only"  name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
   <ion-buttons>
     <ion-button (click)= "deleteDirigente( dirigente)" >
      <ion-icon slot="icon-only" color=danger name="trash"></ion-icon>
     </ion-button>
   </ion-buttons>
 </ion-item>

 <img [src]= "newImage">

</ion-content>