  <ion-header >
    <ion-toolbar >
      <ion-title class="subtitulo">
        LDS Contactos
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openMenu()">
          <ion-icon slot="icon-only" name="ellipsis-horizontal-circle" class="iconmenu"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      <ion-buttons slot="start">
        <ion-button (click)="menuPrin()">
          <ion-icon slot="icon-only" name="menu" class="iconmenu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<p>
  contactos works!
</p>

<ion-footer></ion-footer>