
.ioconhome{
    color: sienna;
}

.iconEquipos{
    color: cornflowerblue;
}

.iconPartidos{
    color: black;
}

.icontabla{
    color: yellow;
}

.iconsanciones{
    color: teal;
}

.iconcontactos{
    color: tomato;
}