


<ion-app>
 
  <ion-split-pane contentId="main">
    <!--  the side menu  -->

    

      <ion-menu side="start" contentId="main" menuId="menuPrincipal">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeMenu()">
                <ion-icon slot="icon-only" name="close-circle"></ion-icon>
              </ion-button>
            </ion-buttons>  
          </ion-toolbar>
        </ion-header>
        <ion-content>
  
          <ion-menu-toggle autoHide=false >
            <ion-item button=true  [routerLink]="['/home']" >
              <ion-label> HOME </ion-label>
              <ion-icon class="ioconhome" slot="start" name="home-outline"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
  
          <ion-menu-toggle autoHide=false >
            <ion-item button=true [routerLink]="['/equipos']" >
              <ion-label class="normal"> EQUIPOS </ion-label>
              <ion-icon class="iconEquipos" slot="start" name="shirt-outline"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
  
          <ion-menu-toggle autoHide=false >
            <ion-item button=true  [routerLink]="['/partidos']" >
              <ion-label class="normal"> PARTIDOS </ion-label>
              <ion-icon class="iconPartidos" slot="start" name="football-outline"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
  
          <ion-menu-toggle autoHide=false >
            <ion-item button=true  [routerLink]="['/tabla de posiciones']" >
              <ion-label class="normal"> TABLA DE POSICIONES </ion-label>
              <ion-icon class="icontabla" slot="start" name="trophy-outline"></ion-icon>
            </ion-item>      
          </ion-menu-toggle>
  
          <ion-menu-toggle autoHide=false >
            <ion-item button=true [routerLink]="['/sanciones']" >
              <ion-label class="normal"> SANCIONES </ion-label>
              <ion-icon class="iconsanciones" slot="start" name="newspaper-outline"></ion-icon>
            </ion-item> 
          </ion-menu-toggle>
          
          <ion-menu-toggle autoHide=false >
            <ion-item button=true [routerLink]="['/contactos']" >
              <ion-label class="normal"> CONTACTOS </ion-label>
              <ion-icon class="iconcontactos" slot="start" name="call-outline"></ion-icon>
            </ion-item>     
          </ion-menu-toggle>
  
        </ion-content>
      </ion-menu>  



      
      <ion-menu side="end" contentId="main" menuId="menuAdmin">
        <ion-header>
          <ion-toolbar>
            <ion-title>Mesa de Control</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeMenu()">
                <ion-icon slot="icon-only" name="close-circle"></ion-icon>
              </ion-button>
            </ion-buttons>          
          </ion-toolbar>
        </ion-header>
        <ion-content>     
          
        
            <ion-item button=true [routerLink]="['/publicacion-noticias']" >
              <ion-label> Publicar Noticias </ion-label>
              <ion-icon slot="end" name="reader"></ion-icon>
            </ion-item>
          
        
        
            <ion-item button="true"  [routerLink]="['/publicacion-partidos']">
              <ion-label>Plublicar Partidos</ion-label>
              <ion-icon slot="end" name="football"></ion-icon>
            </ion-item>
          
      
        
            <ion-item button=true [routerLink]="['/publicacion-sanciones']" >
              <ion-label> Publicar Sanciones </ion-label>
              <ion-icon slot="end" name="newspaper"></ion-icon>
            </ion-item>
          
          
        
            <ion-item button=true [routerLink]="['/creacion-equipos']" >
              <ion-label> Crear Equipos </ion-label>
              <ion-icon slot="end" name="shirt"></ion-icon>
            </ion-item>
          

        
            <ion-item button=true [routerLink]="['/registro-Dirigentes']" >
              <ion-label> Registro de Dirigentes </ion-label>
              <ion-icon slot="end" name="man"></ion-icon>
            </ion-item>
         
          
        
            <ion-item button=true [routerLink]="['/registro-jugadores']" >
              <ion-label> Registro de Jugadores </ion-label>
              <ion-icon slot="end" name="people"></ion-icon>
            </ion-item>
          
          
        
            <ion-item button=true [routerLink]="['/publicacion-tabla']" >
              <ion-label> Subir Tabla de Posiciones </ion-label>
              <ion-icon slot="end" name="trophy"></ion-icon>
            </ion-item>

            
<!-- 
            <div *ngIf= "enablesubmenu">
            <ion-item>
              <ion-label>Awesome Label</ion-label>
            </ion-item>
            <div> -->

          
          
    
        </ion-content>
      </ion-menu>
      
    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>  

</ion-app>

