
 <ion-header >
  <ion-toolbar >
    <ion-title class="subtitulo">
      LDS Noticias
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle" class="iconmenu"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="start">
      <ion-button (click)="menuPrin()">
        <ion-icon slot="icon-only" name="menu" class="iconmenu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
</ion-content>


<ion-footer></ion-footer>