

  <ion-header >
    <ion-toolbar >
      <ion-title class="subtitulo">
        Registro de Jugadores
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openMenu()">
          <ion-icon slot="icon-only" name="ellipsis-horizontal-circle" class="iconmenu"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      <ion-buttons slot="start">
        <ion-button (click)="menuPrin()">
          <ion-icon slot="icon-only" name="menu" class="iconmenu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>

  <h3 class="subtitulo headers encabezado"  > Ingrese los datos de los Jugadores</h3>

  <ion-item>
    <ion-label class="normal">
      Foto:
    </ion-label>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="images">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item>
      <ion-label class = "normal" position="floating">
        Nombre
      </ion-label>
      <ion-input class = "normal" type="text" inputmode="text">
      </ion-input>
    
  </ion-item>

  <ion-item>
    <ion-label class="normal" position="floating">
      Numero de Cedula
    </ion-label>
    <ion-input class="normal" type="number" inputmode="number">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal" position="floating">
      Numero de Camiseta
    </ion-label>
    <ion-input class="normal" type="number" inputmode="number">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal" position="floating">
      Posicion de Juego
    </ion-label>
    <ion-input class="normal" type="text" inputmode="text">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="normal" position="floating">
      Apodo
    </ion-label>
    <ion-input class="normal" type="text" inputmode="text">
    </ion-input>
  </ion-item>

  <ion-button style ="margin: 30px;" expand="full" color="dark">
    Registrar
  </ion-button>

</ion-content>










