<ion-header >
  <ion-toolbar >
    <ion-title class="subtitulo">
      Publicacion tabla de Posiciones 
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle" class="iconmenu"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="start">
      <ion-button (click)="menuPrin()">
        <ion-icon slot="icon-only" name="menu" class="iconmenu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div style="margin: 10px;" >
    <ion-item>
      <ion-buttons slot= "end">
        <ion-label>Nuevo</ion-label>
        <ion-button  class="normal">
          <ion-icon name="analytics"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </div>

  <div>
    
    <h3 class="subtitulo headers"> Datos del equipo</h3> 
    
    
    <ion-card>

      <ion-item>
        <ion-label class="normal">
          Logo
        </ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <label for="file-upload">
              <ion-icon slot="icon-only" name="images"></ion-icon>
            </label>
            <input (change)= "newImageUpload($event)" id="file-upload" style="display:none" type="file" accept="image/*"> 
          </ion-button>
        </ion-buttons>
      </ion-item>
  
  
      <!-- position="floating"       pegar depues de class normal -->
      <ion-item>
        <ion-label class="normal" position= "floating" >
          Nombre del Equipo
        </ion-label>
        <ion-input class="normal" type="text" inputmode="text"></ion-input> 
      </ion-item>

      <ion-item>
        <ion-label class="normal" position= "floating">
          Partidos Jugados
        </ion-label>
        <ion-input class="normal" type="number" inputmode="number"></ion-input> 
      </ion-item>

       <ion-item>
        <ion-label class="normal" position= "floating">
          Partidos Ganados
        </ion-label>
        <ion-input class="normal" type="number" inputmode="number"></ion-input> 
      </ion-item>
       <ion-item>
        <ion-label class="normal" position= "floating">
          Partidos Empatados
        </ion-label>
        <ion-input class="normal" type="number" inputmode="number"></ion-input> 
      </ion-item>

       <ion-item>
        <ion-label class="normal" position= "floating">
          Partidos Perdidos
        </ion-label>
        <ion-input class="normal" type="number" inputmode="number"></ion-input> 
      </ion-item>
       <ion-item>
        <ion-label class="normal" position= "floating">
          Goles a favor
        </ion-label>
        <ion-input class="normal" type="number" inputmode="number"></ion-input> 
      </ion-item>
       <ion-item>
        <ion-label class="normal" position= "floating">
          Goles en contra
        </ion-label>
        <ion-input class="normal" type="number" inputmode="number"></ion-input> 
      </ion-item>
       <ion-item>
        <ion-label class="normal" position= "floating">
          Total de puntos
        </ion-label>
        <ion-input class="normal" type="number" inputmode="number"></ion-input> 
      </ion-item>

       <ion-item>
        <ion-label class="normal" position= "floating">
          Gol diferencia
        </ion-label>
        <ion-input class="normal" type="number" inputmode="number"></ion-input> 
      </ion-item>

      
      <!-- logo:string;
      nombreequipo: string;
      pjugado: number;
      pganado: number;
      pempatado: number;
      pperdido: number;
      gfavor: number;
      gcontra: number;
      puntos: number;
      gdiferencia: number; -->
  
      <ion-item>
        <ion-label class="normal" >    <!-- se debe seleccionar la categoria-->
          
        </ion-label>
        <!-- <ion-input [(ngModel)]= "newDirigente.nombre" class="normal" type="text" inputmode="text"></ion-input> -->
      </ion-item>
    </ion-card>
  
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4">
          <ion-button color="primary">
            Registrar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>