<ion-header >
  <ion-toolbar >
    <ion-title class="subtitulo">
      Publicacion de Sanciones
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle" class="iconmenu"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="start">
      <ion-button (click)="menuPrin()">
        <ion-icon slot="icon-only" name="menu" class="iconmenu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content>
  
    <div style="margin: 10px;" >
      <ion-item>
        <ion-buttons slot= "end">
          <ion-label>Nuevo</ion-label>
          <ion-button class="normal">
            <ion-icon name="receipt-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div>
  
    <div>
      <h3 class="subtitulo headers"> Datos para sancion de jugadores </h3>
      
      <ion-card>
        <ion-item>
          <ion-label position="floating">Seleccione Fecha de publicacion de sancion</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" min="2000-01-01" max="2100-01-31"></ion-datetime>
        </ion-item>
  
        <ion-item>
          <ion-label class="normal" position="floating" >    <!-- se debe seleccionar la categoria-->
            Nombre del jugador
          </ion-label>
          <ion-input class="normal" type="text" inputmode="text"></ion-input> 
        </ion-item>
  
        <!-- position="floating"       pegar depues de class normal -->
        <ion-item>
          <ion-label class="normal" position="floating">
            Equipo
          </ion-label>
          <ion-input class="normal" type="text" inputmode="text"></ion-input> 
        </ion-item>

        <ion-item>
          <ion-label class="normal" position="floating">
            Tiempo de duracion de Sancion
          </ion-label>
          <ion-input class="normal" type="text" inputmode="text"></ion-input> 
        </ion-item>
  
        <!-- position="floating"       pegar depues de class normal -->
        <ion-item>
          <ion-label class="normal" position="floating" >
            Descripcion de Sancion 
          </ion-label>
          <ion-textarea class="normal" inputmode="text"></ion-textarea> 
        </ion-item>
  
      </ion-card>
    
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="4">
            <ion-button color="primary">
              Publicar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  
  
  </ion-content>

