/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');

.titulo {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 25px !important;
    font-weight: bold !important;
    color: #bd2130 !important;
}
   
.subtitulo {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px !important;
    //font-weight: bold !important;
    color: rgb(255, 255, 255) !important;
}

.normal {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 17px !important;
   // font-weight: bold !important;
   color: rgb(0, 0, 0) !important;
}


    


