<ion-header >
  <ion-toolbar >
    <ion-title class="normal">
      Publicacion de Partidos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle" class="iconmenu"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="start">
      <ion-button (click)="menuPrin()">
        <ion-icon slot="icon-only" name="menu" class="iconmenu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




  <ion-content>
  
    <div style="margin: 10px;" >
      <ion-item>
        <ion-buttons slot= "end">
          <ion-label>Nuevo</ion-label>
          <ion-button class="normal">
            <ion-icon name="football-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div>
  
    <div>
      <h3 class="subtitulo headers"> Datos del Partido </h3>
      
      <ion-card>
        <ion-item>
          <ion-label position="floating">Seleccione Fecha del Partido</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" min="2000-01-01" max="2100-01-31"></ion-datetime>
        </ion-item>
  
        <ion-item>
          <ion-label class="normal" position="floating" >    <!-- se debe seleccionar la categoria-->
            Arbitros
          </ion-label>
          <ion-input class="normal" type="text" inputmode="text"></ion-input> 
        </ion-item>
        
        <ion-item>
          <ion-label> Categoria</ion-label>
          <ion-select>
            <ion-select placeholder="Seleccione la Categoria"  ></ion-select>
            <ion-select-option value="Libre Serio B">Libre Serie B</ion-select-option>
            <ion-select-option value="Libre serie A">Libre Serie A</ion-select-option>
            <ion-select-option value="Libre Serio c">Libre Serie c</ion-select-option>
            <ion-select-option value="Damas">Damas</ion-select-option>
            <ion-select-option value="Master">Master</ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item>
          <ion-label> Equipo 1 </ion-label>
          <ion-select placeholder="Seleccione equipo 1"  >
            <ion-select-option value="brown">Brown</ion-select-option>
            <ion-select-option value="blonde">Blonde</ion-select-option>
            <ion-select-option value="black">Black</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-item>
  
        <!-- position="floating"       pegar depues de class normal -->
        <ion-item>
          <ion-label class="normal" position="floating">
            Numero de Goles
          </ion-label>
          <ion-input class="normal" type="text" inputmode="text"></ion-input> 
        </ion-item>
  
        <!-- position="floating"       pegar depues de class normal -->
        <ion-item>
          <ion-label class="normal" >
            Descripcion del partido
          </ion-label>
          <ion-input class="normal" type="text" inputmode="text"></ion-input> 
        </ion-item>
  
        <ion-item>
          <ion-label> Equipo 2 </ion-label>
          <ion-select placeholder="Seleccione equipo 2">
            <ion-select-option value="brown">Brown</ion-select-option>
            <ion-select-option value="blonde">Blonde</ion-select-option>
            <ion-select-option value="black">Black</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-item>
  
       <!-- position="floating"       pegar depues de class normal -->
        <ion-item>
          <ion-label class="normal" position="floating">
            Numero de Goles
          </ion-label>
          <ion-input class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>
  
        <!-- position="floating"       pegar depues de class normal -->
        <ion-item>
          <ion-label class="normal" position="floating" >
            Descripcion del partido
          </ion-label>
          <ion-textarea class="normal" inputmode="text"></ion-textarea>
        </ion-item>
  
      </ion-card>
    
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="4">
            <ion-button color="primary">
              Publicar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  
  
  </ion-content>
